body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('assets/images/bar.jpg');
    background-size: cover;
    margin: 0;
}

#game {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.window {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    cursor: pointer;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.window img {
    position: absolute;
    bottom: -100px;
    transition: bottom 0.5s;
}

.window.show img {
    bottom: 0;
}

#score {
    margin-top: 20px;
    font-size: 24px;
}

#machineGun {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
