body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

#game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.window {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.window img {
    position: absolute;
    bottom: -100px;
    transition: bottom 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.window.show img {
    bottom: 0;
}

#score, #killCount {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#machineGun {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .window {
        width: 80px;
        height: 80px;
    }
}
